[aws]
AWS_DB_TABLE_NAME = attractionTable
AWS_ES_ENDPOINT = https://search-proj-for-attractions-um6r2mitevcydyzporkglj72ea.us-east-1.es.amazonaws.com
AWS_ES_SUBDOMAIN = attractions
AWS_S3_IMG_BUCKET_NAME = proj-for-attraction-photos


[data]
# change to your data folder. If windows, please use "\\"
DATA_JSON_FOLDER = ../data/attraction/json
DATA_IMG_FOLDER = ../data/attraction/photos

[logger]
LEVEL = DEBUG